body{
    background-color: #183718 ;
    margin:0;
    font-family: 'Poppins', sans-serif;
}
.links{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.name{
    color:#ff8bff;
    margin-top: 20px;
    font-size: 30px;

  
}
.web{
color:#ff8bff;
  margin-top: 100px;
font-size: 100px;
margin-left: 150px;
   opacity: 0;
   text-decoration: none;
  
}

.projekt{
color:#ff8bff;
margin-top: 100px;
font-size: 50px;
  opacity: 0;
  text-decoration: none;
  margin-right: 100px;

}
@media all and (max-width:420px){
  .links{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
  .web{
    color:#ff8bff;
    font-size: 35px;
    margin-left: 70px;
       opacity: 0;
       text-decoration: none;
      
    }
    
    .projekt{
    color:#ff8bff;
    font-size: 30px;
      opacity: 0;
      text-decoration: none;
    }}